body{
  background: url("./city.jpg") no-repeat center center fixed; 
>>>>>>> master
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  /*height: 100vh;*/
  font-size: 12px;
}

.animsition{
	position: absolute;
	width: 100%;

}

.intro_name{
	width: 100%;
	font-size: 5em;
	color: white;
	text-align : center ;
}

.name{
	margin-top: 2%;
    border-bottom: medium solid white;
}

.pic{
	display: block;
	margin: 7% auto;

	height: 15em;
	border: 25px solid white;
	border-radius: 25vh;
	opacity: .45;


	transition: border 1s, opacity 1s;
	-webkit-transition: border 1s, opacity 1s;

	/*transition: border-radius 2s;*/}

.pic:hover{
	border: 12px solid white;
	opacity: 1;}

.table{
	width: 100%;
	color: white;
	display: block;
	margin: 0 auto;}

.mid{
	font-size: 2em;
	display: block;
	text-align: center;
	margin: 0 auto;}
.left{
	font-size: 2em;
	text-align: center;
	border-right: 5px ;}
.right{
	font-size: 2em;
	text-align: center;}

.where{
	margin: 1% auto;
	font-size: 1.5em;
	color: white;
	text-align : center ;
	width: 100%;}
.intro_hobbies{
	font-size: 4vh ; 
	text-align : center;
	top-margin: 3vh;}

.intro_where{
	font-size: 3.0vh ; 
	text-align : center;
	margin-bottom: 1vh;}

/*.copyright{
	margin: 0 5% auto;
	color: white;
	font-size: 1em;
}*/